sudo: required
services:
  - docker
before_install:
  - docker build -t ahismail/react-test -f ./client/Dockerfile.dev ./client
script:
  - docker run -e CI=true ahismail/react-test npm test

after_success: 
  - docker build -t ahismail/multi-client ./client 
  - docker build -t ahismail/multi-nginx ./nginx
  - docker build -t ahismail/multi-server ./server
  - docker build -t ahismail/multi-worker ./worker
  #login in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #Take those images and push them to dokcer hub
  - docker push ahismail/multi-client
  - docker push ahismail/multi-nginx
  - docker push ahismail/multi-server
  - docker push ahismail/multi-worker
deploy:
  edge: true
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "multi-docker"
  env: "Multidocker-env"
  bucket_name: "elasticbeanstalk-us-east-2-092812100371"
  bucket_path: "multi-docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY